* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #343a40;
}

.page {
  width: 1fr;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin-left: 10px;
}

header {
  display: flex;
  background-color: rgb(10, 96, 172);
  color: white;
  padding: 20px 10px;

  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
}

.nav-links:link,
.nav-links:visited {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
}
.nav-links:hover,
.nav-links:active {
  color: #74c0fc;
  transition: 0.25s;
}
h1 {
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
h2 {
  font-size: 36px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
p {
  font-size: 20px;
}
